<!DOCTYPE html>
<html>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static\css\index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="static\js\index.js" type="text/javascript"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <div id="navbar">
            <ul class="sidenav sidenav-fixed">
                <li>
                    <div class="user-view">
                        <div class="background" style="background-color:  #3b6978;">
                            <!-- <img src="images/office.jpg"> -->
                        </div>
                        <a href="#user"><img class="circle"
                                src="https://user-images.githubusercontent.com/51280276/110759236-660e5f80-8273-11eb-8ba5-35f5cdd13cc6.png"></a>
                        <a href="#name"><span class="white-text name" style="padding-bottom: 5%;" class="navtitle">Port
                                Scanner<br></span></a>
                    </div>
                </li>
                <li><a href="/">Scan Port</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#!">Contact</a></li>
                <center>
                    <a href="https://github.com/vinitshahdeo/PortScanner">
                        <i class="fa fa-github" style=" font-size:48px; color:#3b6978">
                        </i>
                    </a>
                </center>

            </ul>

            <script type="text/javascript" src="static/js/materialize.min.js"></script>
        </div>
        <div id="showpage">
            <span id="showtitle">Features</span>
            <div id="line"></div>
            <div class="row">
                <p>A go-to tool for scanning network. Scan all the open ports for a given host with just one click.</p>
            </div>
            <span id="showtitle">Working</span>
            <div id="line"></div>
            <ul>
                <li>Enter the website you want to search open ports for</li>
                <li>Enter the lower range (inclusive)</li>
                <li>Enter the higher range (exclusive)</li>
                <li>Now Press Scan Now</li>
            </ul>
        </div>




    </body>

</html> 
